.change-password {
    background: rgba(255, 255, 255, 0.4);
    padding: 20px;
    border: 2px solid #d6e1b6;
    border-radius: 10px;
    margin: 20px auto;
    max-width: 400px;
    margin-top: 8rem;
    box-shadow: 0 0 36px 1px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(20px);
    transition: box-shadow 0.3s ease;
    position: relative;
    animation: zoomIn 0.5s ease-out;
  
    &:hover {
      box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    }
  
    h2 {
      text-align: center;
      font-size: 1.8rem;
      color: #000000;
      margin-bottom: 20px;
      animation: fadeIn 1.5s ease-out;
    }
  
    label {
      display: block;
      margin-bottom: 5px;
      font-size: 1rem;
      font-weight: bold;
    }
  
    input {
      width: 100%;
      padding: 12px;
      margin: 10px 0;
      font-size: 1rem;
      border: 2px solid #fad6be;
      border-radius: 5px;
      transition: border-color 0.3s ease, background-color 0.3s ease;
  
      &:focus {
        border-color: #faa96c;
        background-color: #fdf7f4;
        outline: none;
      }
    }
  
    button {
      display: inline-block;
      padding: 12px 20px;
      font-size: 1rem;
      font-weight: bold;
      border-radius: 5px;
      border: none;
      cursor: pointer;
      transition: background-color 0.3s ease, transform 0.2s ease;
      width: calc(50% - 10px);
  
      &:not(:last-child) {
        margin-right: 20px;
      }
  
      &.update {
        background-color: #b1f580;
        color: rgb(15, 15, 15);
  
        &:hover {
          background-color: #6de40b;
          transform: scale(1.03);
        }
      }
  
      &.cancel {
        background-color: #d6e1b6;
        color: #333;
  
        &:hover {
          background-color: #f11919;
          transform: scale(1.03);
        }
      }
    }
  
    .error-message {
      color: #e74c3c;
      font-size: 0.9rem;
      margin-top: 10px;
      text-align: center;
      animation: fadeIn 0.5s ease;
    }
  
    @keyframes fadeIn {
      from {
        opacity: 0;
        transform: translateY(-10px);
      }
      to {
        opacity: 1;
        transform: translateY(0);
      }
    }
  
    @keyframes zoomIn {
      0% {
        transform: scale(0.8);
        opacity: 0;
      }
      100% {
        transform: scale(1);
        opacity: 1;
      }
    }
  }
  